<div class="book">
    <a href="#amazon">book image</a>		  	
  	<div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div class="panel-heading">Title</div>
	  <div class="panel-body">
	    <p>Header</p>
	  </div>			
	  <!-- Table -->
	  <table class="table">
	    <tr>
			<td>Release date</td>
			<td> Date</td>
    	</tr>
    	<tr>
			<td>Author</td>
			<td>Author </td>
    	</tr>		    	
	  </table>
	</div>			
</div>