	
	  <%= render "shared/navbar" %>
	  <br />
	 <br />
	 <div class= "container">Built for people who work hard but still want to be productive in their free time.  <br />
	 <br />
	 <br />
	 If you have any feedback or suggestions shoot me an email at:
	 <br />
	 pedro@ttbooks.io
	 </div>
	 <%= render "shared/footer" %>
