	
	  <%= render "shared/navbar" %>
	  <br />
	 <br />
	 <h1 style="text-align: center">Tech Talks & Books</h1>
	 <br />
	 <div class= "container">Shifting paradigms. Disrupting SaaS, B2B and the sharing economy. Thinking outside the box. These things are hard. So when you're not working you should be in TTBooks.io- a place for the latest books and videos about business, investment, engineering and other off-topic content. Browse through our feed of the latest books and talks, vote on your favorite ones and leave a comment.<br />
	 <br />
	 <br />
	 If you have any feedback or suggestions shoot me an email at:
	 <br />
	 pedro@ttbooks.io
	 </div>
	 <%= render "shared/footer" %>
