	
	  <%= render "shared/navbar" %>
	  <br />
	 <br />
	 <h1 style="text-align: center">Tech Talks & Books</h1>
	 <br />
	 <div class= "container">Building and investing in startups is hard. So when you're not working you should be at TTBooks.io- a place for the latest books and videos about business, investment, engineering and other off-topic content. Browse through our feed of the latest books and talks, vote on your favorite ones and if you have something to say, leave a comment.<br />
	 <br />
	 <br />
	 If you have any feedback or suggestions shoot me an email at:
	 <br />
	 pedro@ttbooks.io
	 </div>
	 <%= render "shared/footer" %>
