<!DOCTYPE html>
<html>
	<head>		
		<%= stylesheet_link_tag "homepage.css" %>
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat:700">
		 <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext'>
		<title><%= h @page_title %></title>
		<meta name="description” content="Videos and books for tech startup entrepreneurs and investors”>
	    <meta name="viewport" content="width=device-width, initial-scale=1">

	</head>
		
	<body>
		
	  <%= render "shared/navbar" %>
	  <br />
	 <br />
	 <div class= "container">Built for people who work hard but still want to be productive in their free time.  <br />
	 <br />
	 <br />
	 If you have any feedback or suggestions shoot me an email at:
	 <br />
	 pedro@ttbooks.io
	 </div>
	 <%= render "shared/footer" %>
	  	  	  
	</body>
	
</html>