<!DOCTYPE html>
<html>
	
	<head>	
		<%= stylesheet_link_tag "styling.css" %>
		
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat:700">
		<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext'>	 
		<style type="text/css">
		#mc_embed_signup{background:#cccccc; clear:right; padding-bottom: 10px;padding-top: 1px;margin-top: auto; padding-top: auto; margin-right: auto; margin-left: auto; font:17px Montserrat,sans-serif;  width:100%;}
		/* Styling for Mailchimp form */
		</style>
	</head>
		
	<body>
		
		<!-- To be added:  SEOMoz guide   -->
		
		<div class="notes">
		  <h1>The Reading Room by <a style="color: #E62B1E;" href="http://www.ttbooks.io">TTBooks</a></h1>
		  <br />
		  <p style="font-size: 16px;">A curated list of free ebooks for startup entrepreneurs.</p>
		</div>
		
		<div class="header"><h1>Pre-Launch</h1></div>
	    
	    <ul class= "flex-container">
	  	
	  	<!-- Square 1 -->
	  	<a href="https://gettingreal.37signals.com/">
		 	<div id = "real" class="flex-item" >		 		
		 	</div>
		 </a>
		 
		 <!-- Square 2 -->
		 <a href="http://designingfortheweb.co.uk/">
		 	<div id="design" class="flex-item">
		 	</div>
		 </a>
		 	
		 <!-- Square 3 -->
		 <a href="http://static.googleusercontent.com/external_content/untrusted_dlcp/www.google.com/en//webmasters/docs/search-engine-optimization-starter-guide.pdf">
		 	<div id="google" class="flex-item">
		 	</div>
		 </a>
		 
		 <a href="https://zapier.com/blog/free-email-marketing-ebook/">
		 	<div id= "zapos" class="flex-item">
		 	</div>
		</a>
		
		<a href="http://www.copyblogger.com/downloads/Viral_Copy.pdf">
		 	<div id= "copy" class="flex-item">
		 	</div>
		</a>	
		
		<a href="http://www.igorinternational.com/process/igor-naming-guide.pdf">
		 	<div id= "igor" class="flex-item">
		 	</div>
		</a>
		
		
		<a href="http://blog.venturepact.com/ebook-outsourcing-101-how-when-where-to-outsource">
		 	<div id= "outs" class="flex-item">
		 	</div>
		</a>
			 	 
	 	</ul>
	 	
	 	
		<div class="header"><h1>Launch</h1></div>
		
		<ul class= "flex-container">
		
		
		<a href="http://mailchimp.com/resources/guides/email-marketing-field-guide/html/">
		 	<div id="chimp" class="flex-item">
		 	</div>
		 </a>	
		 	
		 <a href="http://www.iacquire.com/pdf/case-studies/Quantifying-Outreach.pdf">
		 	<div id="iacquire" class="flex-item">
		 	</div>
		 </a>
		 
		 <a href="https://www.scribd.com/doc/121861419/Blogger-Outreach-Campaign-A-Guide">
		 	<div id="outreach" class="flex-item">
		 	</div>
		 </a>
		 
		 <a href="http://www.koozai.com/download/?did=5e756ad35f5f00a2a2d9e36fbccdcdbfdb9d3673">
		 	<div id="koozai" class="flex-item">
		 	</div>
		 </a>
		 
		 <a href="http://s3.amazonaws.com/gettingstartedmaterials/Advanced+Guide+to+Content+Promotion+from+BuzzStream.pdf">
		 	<div id="buzz" class="flex-item">
		 	</div>
		 </a>
		 
		 
		 <a href="https://moz.com/beginners-guide-to-link-building">
		 	<div id= "linkb" class="flex-item">
		 	</div>
		</a>
		 	
	 	</ul>
	 	
	 	
	 	<div class="header"><h1>Growth</h1></div>
			<!-- Square 6 -->
		    <ul class= "flex-container">
		 	<a href="http://www.hyperink.com/Business-School-For-Startups-b127">
		 	<div id= "avc" class="flex-item">
		 	</div>
		 	</a>
		 	
			<!-- Square 7 -->
			<a  href="https://receiptful.com/customer-lifetime-value-book">
			 	<div id= "clv" class="flex-item">
			 	</div>
		 	</a>
		 	
		 	
		 	<a href="http://get.lemonstand.com/ab-test-ecommerce/">
		 	<div id="ab" class="flex-item">	
		 	</div>
		 	</a>
		 	
		 	
		 	<a href="http://pages.optimizely.com/ebook-conversion-engine-sem.html">
		 	<div id= "ab1" class="flex-item">		 		
		 	</div>
		 	</a>
		 	
		 	<a href="http://wheniwork.com/ebook">
		 	<div id= "mgmt" class="flex-item">		 		
		 	</div>
		 	</a>
		 	
		 	
		 	<a href="http://www.enterprisesales.nyc/">
		 	<div id="enter" class="flex-item">
		 	</div>
		 	</a>
		 	
		 	
		 	<a href="http://static.googleusercontent.com/media/www.google.com/en/us/adwords/pdf/step_by_step.pdf">
		 	<div id="adwords" class="flex-item">
		 	</div>
		 	</a>
		 	
		 	<a href="https://gumroad.com/l/Vbeq">
		 	<div id="growthh" class="flex-item">
		 	</div>
		 	</a>
		 	
		 	<a href="http://austenallred.com/user-acquisition/book/chapter/twitter/">
		 	<div id="acq" class="flex-item">
		 	</div>
		 	</a>
		 	
		 	<a href="https://www.intercom.io/books/product-management">
		 	<div id="inter" class="flex-item">
		 	</div>
		 	</a>
		 	
		 	<a href="http://offers.hubspot.com/intro-to-inbound-marketing-analytics?__hstc=77594763.33a7b0b6f44ff4e79ea3ffdb1b983317.1433533863618.1433533863618.1433533863618.1&__hssc=77594763.1.1433533863619&__hsfp=2022590488">
		 	<div id="hubs" class="flex-item">
		 	</div>
		 	</a>
		 	
		 	<a href="http://www.quicksprout.com/the-advanced-guide-to-seo/">
		 	<div id="advseo" class="flex-item">
		 	</div>
		 	</a>
			
		 		    
	     </ul> 
	     <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">

			<div id="mc_embed_signup">
				<form action="//capituloperfeito.us3.list-manage.com/subscribe/post?u=fa489b5d979064f7da4691642&amp;id=c3520ee04d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				    <div id="mc_embed_signup_scroll" style="width: 70%; margin-left: auto; margin-right: auto;">
						<h2>Subscribe to <a style="color: #E62B1E;" href="http://www.ttbooks.io" >our newsletter</a> to get the latest books in your email:</h2>
							<div class="mc-field-group">
								<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
							</label>
								<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
							</div>
								<div class="mc-field-group">
								<label for="mce-MMERGE3">Occupation </label>
								<select name="MMERGE3" class="" id="mce-MMERGE3">
								<option value=""></option>
								<option value="Founder">Founder</option>
								<option value="Investor">Investor</option>
								<option value="Designer">Designer</option>
								<option value="Marketing">Marketing</option>
								<option value="Product">Product</option>
								<option value="Programmer">Programmer</option>
								<option value="Other">Other</option>
								
									</select>
								</div>
						<div id="mce-responses" class="clear">
							<div class="response" id="mce-error-response" style="display:none"></div>
							<div class="response" id="mce-success-response" style="display:none"></div>
						</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					    <div style="position: absolute; left: -5000px;"><input type="text" name="b_fa489b5d979064f7da4691642_c3520ee04d" tabindex="-1" value=""></div>
					    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
					    </div>
					</div>
				</form>
			</div>   
   </body>	

</html>

<%= render 'shared/footer' %>
