	
	  <%= render "shared/navbar" %>
	  
	  <div class="container" id="blogcontainer">
	  	<% @blogs.each do |blog| %>
	  	
	      <h1 id="blogtitle"><%= link_to blog.title, controller: "blogs", action: "show", id: blog %></h1>
          <p id="blogposttext" style="font-size:  18px;"> <%= simple_format blog.body.html_safe %></p>
	  	
	  	<br />
	  	<br />
	  	<% end %>
	  </div>

	  <%= render "shared/footer" %>	
