<% @othervideos.each do |video| %>

    <iframe class ="video" width="560" height="315" src="video.url" frameborder="0" allowfullscreen></iframe>		  
			
	<div class="panel panel-default">
	  <!-- Default panel contents -->
	<div class="panel-heading">
		
		
		<%= video.title %>
		
	</div>
	  <div class="panel-body">
	    <p>Header</p>
	  </div>
	  <!-- Table -->
	  <table class="table">
	    <tr>
			<td>Date</td>
			<td>
				Date
				
			</td>
    	</tr>
    	<tr>
			<td>Speakers</td>
			<td>Speakers</td>
    	</tr>		    	
	  </table>
	</div>
<% end %>
	<!-- End of Table -->
	
<button type="button" class="btn btn-warning btn-round">Tag</button>