<div class= "col-md-12">
	
<div class="jumbotron">
    <h3>Click here if you are:</h3> 
     <div class="col-sm-4">
    <ul><td><h5>A founder, looking for:</h5></td>
    	<li> <a href="#opbooks" >Talks and Videos  </a></li>
    	<li> <a href="#opbooks" >Books</a></li>
    </ul>
    </div>
    
    <div class="col-sm-4">
    <ul><td id="investorul"><h5>An investor, looking for:</h5></td>
    	<li> <a href="#opbooks" >Talks and Videos  </a></li>
    	<li> <a href="#opbooks" >Books</a></li>
    </ul> 
    </div>  
    
    <div class="col-sm-4">
    <ul><td id="investorul"><h5>Just looking for cool stuff:</h5></td>
    	<li> <a href="#opbooks" >To watch  </a></li>
    	<li> <a href="#opbooks" >To read</a></li>
    </ul> 
    </div>	
<div id="opbooks"></div>  
<div id="opvideos"></div>  
</div>
</div>