<div class= "col-md-12">
	
<div class="jumbotron">
    <h2>I am:</h2> 
     <div class="col-sm-4">
    <ul><td>A founder, looking for:</td>
    	<li> <a href="#opbooks" >Talks and Videos  </a></li>
    	<li> <a href="#opbooks" >Books</a></li>
    </ul>
    </div>
    
    <div class="col-sm-4">
    <ul><td id="investorul">An investor, looking for:</td>
    	<li> <a href="#opbooks" >Talks and Videos  </a></li>
    	<li> <a href="#opbooks" >Books</a></li>
    </ul> 
    </div>  
    
    <div class="col-sm-4">
    <ul><td id="investorul">Just looking for cool stuff:</td>
    	<li> <a href="#opbooks" >To watch  </a></li>
    	<li> <a href="#opbooks" >To read</a></li>
    </ul> 
    </div>	
<div id="opbooks"></div>  
<div id="opvideos"></div>  
</div>
</div>