<div class= "col-md-12">
	
<div class="jumbotron">
    <h3>Latest Talks and Books for:</h3> 
     <div class="col-sm-4">
    <ul><td><h5 ><a href="#opbooks">Founders</a></h5></td>
    </ul>
    </div>
    
    <div class="col-sm-4" id="middlecolsm">
    <ul><td id="investorul"><h5><a href="#Invheader">Investors</a></h5></td>
    	
    </ul> 
    </div>  
    
    <div class="col-sm-4">
    <ul><td id="investorul"><h5> <a href="#Othheader">General/ Off-Topic</a></h5></td>
    </ul> 
    </div>	
<div id="opbooks"></div>  
<div id="opvideos"></div>  
</div>
</div>