<footer class="footer">
	
  <div class="container">
  		<a href="https://twitter.com/techtalksbooks"><i class="fa fa-twitter fa-3x"></i>
	</a>   
	</a>
		<a href="https://www.youtube.com/user/pmoorcraft/playlists"><i class="fa fa-youtube fa-3x"></i>
	</a>
  </div>
  
</footer>	