<footer class="footer">
	
  <div class="container">
  	<div class="row">
  	  <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
  		<ul>
  		<a href="https://twitter.com/techtalksbooks"><i class="fa fa-twitter fa-3x"></i></a>	
		<a href="https://www.youtube.com/user/pmoorcraft/playlists"><i class="fa fa-youtube fa-3x"></i></a>
	    </ul>
	  </div>
	   
	  <div class="col-lg-4  col-md-2 col-sm-4 col-xs-6" 
    style="padding-top: 10px;">
    <ul>
	    <a id = "rssvfooter" href="https://www.ttbooks/videofeed?format=rss">Video</a>
	    <a id = "rssvfooter" href="https://www.ttbooks/videofeed?format=rss"><i class="fa fa-rss fa-3x"></i></a>
	    
	    <a id="rssbfooter" href="https://www.ttbooks/videofeed?format=rss">Book</a>
	    <a id="rssbfooter" href="https://www.ttbooks/bookfeed?format=rss"><i class="fa fa-rss fa-3x"></i></a>
</ul>
	  </div>

	  <div class="col-lg-4  col-md-2 col-sm-4 col-xs-6">
	  	
	  	<ul>
	  <p style="font-color: white;">Copyright 2015.</p>

	  <p style="font-color: white;">All rights reserved.</p>
	    </ul>
	
	  </div>
	</div>
  </div>
  
</footer>	