<footer class="footer">
	
  <div class="container">
  	<h4> Follow us on Twitter and Youtube for the latest videos and talks </h4>
  		<a href="https://twitter.com/ttbooks"><i class="fa fa-twitter fa-5x"></i>
	</a>   
	</a>
		<a href="https://www.youtube.com/user/pmoorcraft/playlists"><i class="fa fa-youtube fa-5x"></i>
	</a>
  </div>
  
</footer>	