<div class="page-header">
	
	<img src="https://s3-eu-west-1.amazonaws.com/ttbooks/fdnSlQI+-+Imgur-min.png" class="img-responsive" id ="logobanner" alt="Responsive image" >
<h3>Personalized book and video recommendations for startup entrepreneurs and investors delivered monthly via email</h3>

</div>