<div class="page-header">
	
	<img src="http://i.imgur.com/TvWzByW.png" class="img-responsive" id ="logobanner" alt="Responsive image" >
<h3>Personalized book and video recommendations for startup entrepreneurs delivered monthly via email (BETA)</h3>

</div>