<div class="page-header">
	<img src="https://s3-eu-west-1.amazonaws.com/ttbooks/fdnSlQI+-+Imgur-min.png" class="img-responsive" id ="logobanner" alt="Responsive image" >
	<h2 style="text-align: center; color: white; padding: 0px; margin-bottom: 0px;">Daily updates on the latest videos and reads for people in the tech industry.</h2>

</div>