<div class="page-header">
	<img src="http://i.imgur.com/TvWzByW.png" class="img-responsive" id ="logobanner" alt="Responsive image" >
<h3>The latest books and talks, directly to your inbox</h3>
<%# This is a great comment!  %>
</div>