<nav class="navbar navbar-default" role="navigation" style="border-radius: 0px;">
  <div class="container">
    <div class="navbar-header">

      <div class="navbar-brand navbar-brand-centered" style="left:0px; position: relative;">
      	<ul class="nav navbar-nav navbar-center">
      	<li>
      		<img class = "img-responsive" id = "navlogo" src="https://s3-eu-west-1.amazonaws.com/ttbooks/Tech+Talks+%26+Books-logo-white+(3).png" />
      	</li>
      	
      	<li>
      	<a id = "tttitle" href="/">TTBooks</a>
      	</li>
      	</ul>
      </div>
  	
    </div>
    
      <ul class="nav navbar-nav navbar-right" style="margin-right: 0px;">
      	<li><a id ="navtext" href="/archive">Archives</a></li>
		<li><a id ="navtext" href="/blog">Blog</a></li>
        <li><a id ="navtext" href="http://eepurl.com/-4elD">Subscribe</a></li>
        <li><a id ="navtext" href="/about">About</a></li>
        
        		        
      </ul>
    </div>
  </div>
</nav>