// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";



html {
    position: relative;
    min-height: 100%;    
  }
  
  body {
    /* Margin bottom by footer height background: CCCCCC*/
    margin-bottom: 120px;
    background: #CCCCCC;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.5px;
  }
  
  #avatar {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 15px;
    
  }
  
  #navlogo  {
    height: 52px;
    width: 50px;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
  }
 

  
  #sectiontitle  {
    
    align: left;
  }
  .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 190px;
        text-align: center;
        background-color: transparent;
        padding-top: 1px;
       
        
    }
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
        color: white;
    }
  
  h1  {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat', sans-serif;
  }
  
  
  
  h3  {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  h4  {
    color: white;
  }
  
  h5  {
    margin-left: -400px;
  }
  
  p  {
    font-family: 'Lato';
    letter-spacing: -0.5px;
  }
  
  td  {  
    font-family: 'Lato';
    letter-spacing: -0.5px;
  }
  
  .navbar  {
    background: black;
    a {
    font-color: white;
    } 
    
   }
  
  .navbar .container { 
    height: 53px; }
   
  .nav li a  {
    padding-top: 16px;
    padding-right: 8px;
    padding-left: 1px;
  }
  
   #tttitle  {
     color: white;
   }
  .panel  {
    width: 560px;
  }
  
  
  .button-container  {
    margin-top: auto;
    margin-left: auto;
      margin-right: 100px;
      width: 300px;
    
  }
  
  .table  {
    padding-bottom: 100px
  }

  
  .sub-header {
    align: left;
  }
  
  
  .talks  {
    padding-top: 25px;
      padding-right: 10px;
      padding-bottom: 10px;
      padding-left: 5px;
      margin-left: auto;
      margin-right: auto;   
  }
  
  .video  {
    padding-top: 15px;
      padding-bottom: 15px;
  }
  
  .book  {
    padding-top: 5px;
      padding-right: 10px;
      padding-bottom: 10px;
      padding-left: 5px;
      margin-left: auto;
      margin-right: auto; 

  }
  
  .img-responsive  {
    padding-top: 15px;
      padding-bottom: 15px; 
    margin-top: auto;
    margin-left: auto;
      margin-right: auto; 
   }

  .btn-primary  {
    
    margin-left: auto;
    margin-right: auto;
  }
  
  .btn-warning  {
    
    border-color: #000000; 
    background-color: #000000;
    &:hover {
              background-color: #464646;              
               border-color: #464646;
    }
    &:active {
              background-color: #464646;              
               border-color: #464646;
    }
    &:visited {
              background-color: #464646; 
               border-color: #464646;
    }
    &:focus {
              background-color: #464646; 
               border-color: #464646;
    }
  }
  
  .btn-round {
    border-radius: 17px;
  }
  
  .a .button  {
    color: black;
  }
  
  .btn-lg  {
    color: #000000;
    background-color: #000000;
    border-color: #000000;
    &:hover {
              background-color: #000000;
              color: #000000;        
    }
  }
  .btn-default {
    color: white;
    background-color: #aaa;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
    height: 32px;
    margin-top: 62px;
    margin-bottom: 37px;

      &:hover {
              background-color: #777; 
              color: white;   
    }
  }
  .page-header {
    margin-top: auto;
    margin-left: auto;
      margin-right: auto;
      width: 100%;  
    padding-left: 350px;
    padding-right: 350px; 
    colour: black;
    
   }
   

   .container-fluid {
    margin-top: auto;
    margin-left: auto;
      margin-right: auto;
   }
   

   .col-md-4 {
    
    margin-left: auto;
      margin-right: auto;
   }
   
   .col-md-6 {
    padding-top: 15px;
      padding-right: 50px;
      padding-bottom: 10px;
      padding-left: 50px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;
   }
   
   .col-md-12  {
    padding-bottom: 0px;

   }
   
  .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
    /* Set the fixed height of the footer here */
      height: 60px;
      background-color: #000000;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: auto;
      margin-top: auto;
     
   
   }
    
   
   .fa  {
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    margin-bottom: auto;
   }
   
   .fa-youtube  {
     color: #e52d27;
     &:hover {
      color: #b31217;
    }
   }
   
   
   
