// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

html {
    position: relative;
    min-height: 100%;
    
  }
  
  body {
    /* Margin bottom by footer height */
    margin-bottom: 120px;
    background: #CCCCCC;
    font-family: 'Open Sans', sans-serif;
  }
  
  .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        background-color: transparent;
    }
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
        color: white;
    }
  
  h3  {
    margin-left: auto;
  }
  
  h4  {
    color: white;
  }
  
  h5  {
    margin-left: -400px;
  }
  
  .navbar  {
    background: black;
  }
  
  .page-header  {
    padding-top: -70px;
  }
  
  .panel  {
    
    width: 560px;
  }
  
  .button  {
    color: white;
    
  }
  
  .button-container  {
    margin-top: auto;
    margin-left: auto;
      margin-right: auto;
      width: 200px;
    
  }
  
  
#mc_embed_signup  {
    background: #cccccc; 
    clear: right; 
    margin-top: auto; 
    margin-left: auto; 
    margin-right: auto; 
    width: 50%;
}
  .sub-header {
    text-align: center;
  }
  
  .talks  {
    padding-top: 25px;
      padding-right: 10px;
      padding-bottom: 10px;
      padding-left: 5px;
      margin-left: auto;
      margin-right: auto; 
    
  }
  
  .video  {
    padding-top: 15px;
      padding-bottom: 15px;
  }
  
  .book  {
    padding-top: 25px;
      padding-right: 10px;
      padding-bottom: 10px;
      padding-left: 5px;
      margin-left: auto;
      margin-right: auto; 

  }
  
  .img-responsive  {
    padding-top: 15px;
      padding-bottom: 15px; 
    margin-top: auto;
    margin-left: auto;
      margin-right: auto; 
   }
  
  .btn-primary  {
    
    margin-left: auto;
      margin-right: auto;
        
  }
  
  .btn-round{
    border-radius: 17px;
  }
  
  .btn-lg  {
    color: black;
    background-color: black;
  }
  .page-header {
    margin-top: auto;
    margin-left: auto;
      margin-right: auto;
      width: 70%;   
   }
   
   .nav {}
   
   .container-fluid {
    margin-top: auto;
    margin-left: auto;
      margin-right: auto;
   }
   

   .col-md-4 {
    
    margin-left: auto;
      margin-right: auto;
   }
   
   .col-md-6 {
    padding-top: 25px;
      padding-right: 50px;
      padding-bottom: 250px;
      padding-left: 50px;
    margin-left: auto;
      margin-right: auto;
   }
   
   .col-md-12  {
    padding-bottom: 10px;

   }
   
  .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
    /* Set the fixed height of the footer here */
      height: 115px;
      background-color: #000000;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: auto;
      margin-top: auto;
   }  
   
   .fa  {
    margin-left: auto;
      margin-right: auto;
   }
   
   .fa-youtube  {
     color: #e52d27;
     &:hover {
      color: #b31217;
    }
   }
   
   
